html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
    border-radius: 10px;
}

html::-webkit-scrollbar
{
    width: 0px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: linear-gradient(180deg, #9CACEA 0%, #6572A4 100%);
}
.vue-image-crop-upload
.vicp-wrap{
    max-width: 100% !important;
}
