<template>
<div id="app">
    <v-simple-table
            :fixed-header="fixedHeader"
            :height="height"
    >
        <template v-slot:default>
            <thead>
            <tr>
                <th style="text-align: center">Position</th>
                <th style="text-align: center">Likes</th>
                <th style="text-align: center">Auteur</th>
                <th style="text-align: center">Titre</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(item,i) in ranking" :key="i" @click="modal(i)">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.nbLikes }}</td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.title }}</td>
                </tr>
            </tbody>
        </template>
    </v-simple-table>
    <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            scrollable
            transition="dialog-bottom-transition"
    >
        <v-card>
            <v-toolbar>
                <v-btn @click="popup" style="background: none;border: none;box-shadow: none;">
                    <img src="../assets/arrow-left.png" height="23" width="24"/>
                </v-btn>
                <v-toolbar-title style="color: white;font-weight: 900;font-size: 24px;margin: 0 auto;transform: translateX(-50%);">{{current.title}}</v-toolbar-title>
            </v-toolbar>
            <v-alert type="success" v-if="isSend" style="margin: 0 auto; width: 200px">Follow réussi !</v-alert>
            <v-card-text>
                <v-row align="center">
                    <v-col md="4" offset-md="3" sm="12" cols="12">
                        <div style="float: left">
                            <img src="../assets/profil.png" height="46" width="46" style="display: inline-block"/>
                            <p style="color: white;margin: 0 15px;font-size: 16px;display: inline-block">By</p>
                            <p style="color: white;font-weight: 900;font-size: 24px;display: inline-block"> {{current.author}} </p>
                            <v-btn small dark outlined id="follow" @click="follow">Follow</v-btn>
                        </div>
                    </v-col>
                </v-row>
                <v-row align="center" justify="center">
                    <v-col md="4" sm="12" cols="12">
                        <img v-bind:src="'data:image/jpeg;base64,'+current.media" class="rounded-borders desc"/>
                    </v-col>
                    <v-col md="4" sm="12" cols="12">
                        <p style="color: white">{{current.description}}  </p>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Classement",
        data () {
            return {
                dialog: false,
                index: 0,
                fixedHeader: true,
                isSend : false,
                height: 530,
                ranking: [],
                current:{

                },
            }
        },
        mounted(){
            axios.get('http://califourchon.wtf/posts/topHundredPosts')
                .then(responses => {
                    // JSON responses are automatically parsed.
                    for (var i=0; i<responses.data.sortedPosts.length;i++) {
                        this.ranking.push(responses.data.sortedPosts[i])
                    }
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        methods:{
            modal(i){
                this.dialog = true,
                    this.index = i,
                this.current = this.ranking[i]
            },
            follow(){
                let currentObj = this;
                fetch('http://califourchon.wtf/users/follow', {
                    method : 'POST',
                    headers: { "Content-Type" : "application/json" },
                    body : JSON.stringify({
                        "followedUserId": this.ranking[this.index].author_id,
                        "followerUserId": 'LxtA4YQ9G4BAUuz7gQlB',
                    })
                }).then((response) => {
                    this.isSend = true
                    currentObj.output = response.data;
                })
                    .catch(function (error) {
                        currentObj.output = error;
                    })
            },
            popup(){
                this.dialog = false,
                this.isSend = false
            }
        },
    }
</script>

<style scoped>
    .v-card{
        background: linear-gradient(180deg, #242B4A 0%, #0F1423 100%);
    }
    .v-toolbar {
        background: none;
        box-shadow: none;
    }
    .desc{
        max-width: 100%;
        height: auto;
    }
    #follow{
        border: 1px solid #6F7CAD;
        color: #6F7CAD;
        margin-left: 50px;
    }
</style>
