<template>
    <div class="app">
        <v-row align="center" justify="center" class="infos">
            Connexion
        </v-row>
    </div>
</template>

<script>
    //import axios from 'axios';


    export default {
        name: "Connexion",
        components:{
        },
        data(){
            return{
            }
        },
        mounted(){
            /*axios.get('http://califourchon.wtf/users/pseudoByUserId/LxtA4YQ9G4BAUuz7gQlB')
                .then(responses => {
                    // JSON responses are automatically parsed.
                    this.pseudo=responses.data.pseudo
                })
                .catch(e => {
                    this.errors.push(e)
                });*/
        }
    }
</script>

<style scoped>
    /*.v-card{
        background: linear-gradient(180deg, #242B4A 0%, #0F1423 100%);
    }
    .v-toolbar {
        background: none;
        box-shadow: none;
    }
    .infos{
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .textProfil{
        padding: 0px;
    }
    .pseudo{
        font-weight: 900;
        font-size: 32px;
    }
    p{
        margin: 0px auto;
    }
    .stats{
        color: #5D6DAB;
    }
    .nb{
        font-size: 22px;
        font-weight:900;
    }
    .bloc1{
        width: 30%;
        display: inline-block;
        border-right: 1px solid #5D6DAB;
    }
    .bloc2{
        width: 40%;
        display: inline-block;
        border-right: 1px solid #5D6DAB;
    }
    .bloc3{
        width: 30%;
        display: inline-block;
    }
    .boutons{
        width: 90%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 30px;
    }
    .postLike{
        width: 50%;
        border: 1px solid #6F7CAD;
        color: #6F7CAD;
    }
    .un{
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px;
    }
    .deux{
        border-bottom-right-radius: 9px;
        border-top-right-radius: 9px;
    }
    .active-class{
       color: white;
        background: linear-gradient(180deg, #9CACEA 0%, #6572A4 100%);
        opacity: 0.7;
    }
    @media screen and (min-width: 960px){
        .pseudo{
            margin-left: 50px;
        }
        p{
            margin-left: 0px;
        }
        .bloc{
            float: left;
        }
        .bloc1{
            width: 15%;
        }
        .bloc2{
            width: 20%;
        }
        .bloc3{
            width: 15%;
        }
        .boutons{
            margin-bottom: 60px;
        }
        .imgProfil{
            width: 114px;
            height: 114px;
        }
    }*/

</style>
