<template>
  <div class="timelineRandom">
    <SwipePhoto/>
  </div>
</template>

<script>
  // @ is an alias to /src
  import SwipePhoto from '@/components/SwipePhoto.vue';

  export default {
    name:'timelineRandom',
    components: {
      SwipePhoto
    }
  }
</script>
