<template>
  <div class="timelinePerso">
    <SwipePhoto/>
  </div>
</template>

<script>
// @ is an alias to /src
import SwipePhoto from '@/components/SwipePhoto.vue'

export default {
  name: 'home',
  components: {
    SwipePhoto
  }
}
</script>

<style scoped>

</style>
