<template>
        <div id="app">
                <v-row style="width: 80%;margin: 0 auto;top: 15%;margin-top: 10%">
                        <v-col md="12" sm="12" cols="12">
                                <div id="divFile">
                                        <input type="file" ref="file" label="File input" id="file" @change="handleFileUpload"/>
                                </div>
                                <v-text-field
                                        label="Titre photo"
                                        clearable
                                        solo
                                        v-model="title"
                                ></v-text-field>
                                <v-textarea solo clearable label="Description photo" v-model="description">
                                        <template v-slot:label>
                                                <div>
                                                        Description image
                                                </div>
                                        </template>
                                </v-textarea>
                                <v-btn outlined block clearable @click="formSubmit">Ajouter post</v-btn>
                                <br/>
                                <v-alert type="success" v-if="isSend">Post Publié !</v-alert>
                        </v-col>
                </v-row>
        </div>
</template>

<script>
    export default {
        name: "UploadPhoto",
            data(){
                return {
                        title:'',
                        description:'',
                        media:'',
                        isSend : false,
                        user_id: "azdfuvTVRF84YD",
                }
            },
            methods: {
                    handleFileUpload(){
                            this.media = this.$refs.file.files[0];
                    },
                    formSubmit() {
                            let currentObj = this;
                            const formData = new FormData()
                            formData.append('title', this.title)
                            formData.append('description', this.description)
                            formData.append('user_id', this.user_id)
                            formData.append('media', this.$refs.file.files[0])

                            fetch('http://califourchon.wtf/posts', {
                                    method: 'POST',
                                    body: formData
                            })
                                    .then((response) => {
                                            this.isSend = true
                                            response.json()
                                            setTimeout(function(){
                                                    location.reload();
                                            }, 2000);
                                    })
                                    .then((response) => {
                                            currentObj.output = response.data;
                                    })
                                    .catch(function (error) {
                                            currentObj.output = error;
                                    });
                    }
            }
    }
</script>

<style lang="scss" scoped>
        #app{
                background: transparent;
                color: #A1AFE1;
                margin: 0 auto;
        }
        .v-btn{
                color: #A1AFE1;
        }
        #divFile{
                text-align: start;
                margin: 20px 0px
        }
</style>
