<template>
    <div class="app">
        <v-progress-circular
                indeterminate
                color="primary"
                v-if="loading == true"
        ></v-progress-circular>
        <div v-if="loading == false">
            <div id="test">
                <div v-for="(like,i) in likes" :key=i>
                    <button @click="modal(i)" class="btnPost"><img v-bind:src="'data:image/jpeg;base64,'+like.media" class="rounded-borders desc imgPost"/></button>
                </div>
            </div>
        </div>

        <v-dialog
                v-model="dialog"
                fullscreen
                hide-overlay
                scrollable
                transition="dialog-bottom-transition"
        >
            <v-card>
                <v-toolbar>
                    <v-btn @click="dialog = false" style="background: none;border: none;box-shadow: none">
                        <img src="../assets/arrow-left.png" height="23" width="24"/>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-row align="center" justify="center">
                        <p style="color: white;font-weight: 900;font-size: 24px"> {{current.title}} </p>
                    </v-row>
                    <v-row align="center" justify="center">
                        <v-col md="4" sm="12" cols="12">
                            <img v-bind:src="'data:image/jpeg;base64,'+current.media" class="rounded-borders desc"/>
                        </v-col>
                        <v-col md="4" sm="12" cols="12">
                            <p style="color: white">{{current.description}}  </p>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>

        <div v-if="errors && errors.length">
            <div v-for="error of errors" :key="error">
                {{error.message}}
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';


    export default {
        name: "profil",
        data(){
            return{
                loading: true,
                dialog: false,
                current:{

                },
                likes: [],
                errors: []
            }
        },
        props:[
            'value'
        ],

        mounted(){
            axios.get('http://califourchon.wtf/posts/likedPosts/LxtA4YQ9G4BAUuz7gQlB')
                .then(responses => {
                    console.log(responses)
                    this.loading=false;
                    if(responses.data =="Aucun post liké par cet utilisateur"){
                        this.likes = responses.data;
                    }
                    else
                    {
                        // JSON responses are automatically parsed.
                        for (var i=0; i<responses.data.likedPosts.length;i++) {
                            this.likes.push(responses.data.likedPosts[i])
                        }
                    }

                })
                .catch(e => {
                    this.loading=false;
                    this.errors.push(e)
                })
        },
        watch:{
            likes(){
                this.$emit('input',this.likes.length)
            }
        },
        methods:{
            modal(i){
                this.dialog = true,
                    this.current = this.likes[i]
            }
        },
    }
</script>

<style scoped>
    .v-card{
        background: linear-gradient(180deg, #242B4A 0%, #0F1423 100%);
    }
    .v-toolbar {
        background: none;
        box-shadow: none;
    }
    .btnPost{
        width: 28%;
        height: auto;
        margin: 0 2.5% 30px 2.5%;
        float: left;
        outline-style: none;
    }
    .imgPost{
        width: 100%;
        height: auto;
        border-radius: 20px;

    }
    #test{
        width: 90%;
        margin: 0 auto;
        overflow-y: auto;
        height: 600px
    }
    #test::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: transparent;
        border-radius: 10px;
    }

    #test::-webkit-scrollbar
    {
        width: 2px;
        background-color: transparent;
    }

    #test::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background: #A9A9A9
    }
    .desc{
        max-width: 100%;
        height: auto;
    }
    @media screen and (max-width: 960px){
        .btnPost{
            width: 45%;
            margin: 0 2.5% 30px 2.5%;
        }
    }

</style>
