<template>
    <v-navigation-drawer  class=" d-none d-md-flex" permanent floating color="transparent"
                          style="width: 300px;margin-left: 20px"
    >
    <div id="nav">
        <ul>
            <router-link tag="li" to="/"><img src="../assets/logoPerso.png" height="25" width="25"/><div class="p">Timeline Perso</div></router-link>
            <router-link tag="li" to="/timelineRandom"><img src="../assets/logoRandom.png" height="25" width="25"/><div class="p">Timeline Random</div></router-link>
            <router-link tag="li" to="/uploadPhoto"><img src="../assets/plus.png" height="25" width="25"/><div class="p">Ajouter une photo</div></router-link>
            <router-link tag="li" to="/classement"><img src="../assets/podium.png" height="25" width="25"/><div class="p">Classement</div></router-link>
            <router-link tag="li" to="/profil"><img src="../assets/profil.png" height="25" width="25"/><div class="p">Votre profil</div></router-link>
        </ul>
    </div>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "NavbarDesktop",
        data() {
            return {
                selected: undefined,
            }
        },
    }
</script>

<style scoped>
    ul{
        list-style:none;
    }
    li{
        width: 100%;
        height: 47px;
        line-height: 47px;
        border-radius: 14px;
        margin: 10px 0px;
    }
    .p{
        font-weight: 700;
        font-size: 18px;
        color: #A1AFE1;
        float: left;
        margin-left: 15px;
    }
    li:hover{
        background: linear-gradient(
                180deg, #5666F0 0%, #4551BD 100%);
    }
    li.router-link-exact-active{
        background: linear-gradient(180deg, #5666F0 0%, #4551BD 100%);
    }
    a{
        text-decoration:none;
    }
    img{
        float: left;
        margin: 11px 22px;
    }
</style>
