<template>

<v-bottom-navigation
        class="d-sm-flex d-md-none nav" fixed
        style="
        background:#202742;
        height: 60px;
        box-shadow: 0px -12.0087px 4.26158px rgba(0, 0, 0, 0.037074), 0px -14.1786px 10.2412px rgba(0, 0, 0, 0.0500777), 0px -14.7589px 19.2832px rgba(0, 0, 0, 0.0596196)"
>
    <router-link tag="a" to="/"><img class="icon" src="../assets/logoPerso.png" height="25" width="25"/></router-link>
    <router-link tag="a" to="/timelineRandom"><img class="icon" src="../assets/logoRandom.png" height="25" width="25"/></router-link>
    <router-link tag="a" to="/uploadPhoto"><img class="icon" src="../assets/plus.png" height="25" width="25"/></router-link>
    <router-link tag="a" to="/classement"><img src="../assets/podium.png" height="25" width="25" id="ranking"/></router-link>
    <router-link tag="a" to="/profil"><img class="icon" src="../assets/profil.png" height="25" width="25"/></router-link>
</v-bottom-navigation>
</template>

<style>
    .icon{
        position: absolute;
        transform: translate(-48%,45%);
    }
    a{
        width: 46px;
        height: 46px;
        margin-left: 4%;
        margin-right: 4%;
        transform: translateY(15%);
        border-radius: 16px;
        position: relative;
    }
    #ranking{
        transform: translateY(40%);
    }
    a.router-link-exact-active{
        background: linear-gradient(180deg, #5666F0 0%, #4551BD 100%);
    }
</style>
