<template>
  <section class="container" style="position:relative;height: 100%">
        <div
                v-if="current"
                class="position sizeImg"
                style="z-index: 3"
                :class="{ 'transition': isVisible }">
          <Vue2InteractDraggable
                  v-if="isVisible"
                  :interact-out-of-sight-x-coordinate="400"
                  :interact-max-rotation="15"
                  :interact-x-threshold="200"
                  :interact-y-threshold="200"
                  :interact-event-bus-events="interactEventBusEvents"
                  interact-block-drag-down
                  interact-block-drag-up
                  @draggedRight="emitAndNext('like',current.media)"
                  @draggedLeft="emitAndNext('skip',current.media)"
                  class="rounded-borders card">
            <div>
                <img v-bind:src="'data:image/jpeg;base64,'+current.media" class="rounded-borders"/>
            </div>
          </Vue2InteractDraggable>
        </div>
        <div
                v-if="next"
                class="rounded-borders card position sizeImg"
                style="z-index: 2">
              <img v-bind:src="'data:image/jpeg;base64,'+next.media" class="rounded-borders"/>
        </div>
        <div
                v-if="index + 2 < cards.length"
                class="rounded-borders card position sizeImg"
                style="z-index: 1">
        </div>
        <div class="footer">
          <button class="btn" @click="skip"><img class="vote" src="../assets/dislike.png" height="22" width="22"/></button>

            <v-dialog
                    v-model="dialog"
                    fullscreen
                    hide-overlay
                    scrollable
                    transition="dialog-bottom-transition"
            >
            <template v-slot:activator="{ on }">
                <button class="btn" v-on="on"><img class="vote" src="../assets/description.png"/></button>
            </template>
                <v-card>
                    <v-toolbar>
                        <v-btn @click="dialog = false" style="background: none;border: none;box-shadow: none">
                            <img src="../assets/arrow-left.png" height="23" width="24"/>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <v-row align="center" justify="center">
                            <p style="color: white;font-weight: 900;font-size: 24px"> {{current.title}} </p>
                        </v-row>
                        <v-row align="center" justify="center">
                            <v-col md="4" sm="12" cols="12">
                                <img v-bind:src="'data:image/jpeg;base64,'+current.media" class="rounded-borders desc"/>
                            </v-col>
                            <v-col md="4" sm="12" cols="12">
                                <p style="color: white"> {{current.description}} </p>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-dialog>

          <button class="btn" @click="like"><img class="vote" src="../assets/like.png" height="30" width="34"/></button>
        </div>




  </section>
</template>
<script>
  import { Vue2InteractDraggable, InteractEventBus } from 'vue2-interact';
  import axios from 'axios';

  const EVENTS = {
    LIKE: 'like',
    SKIP: 'skip'
  }
  export default {
    name: 'SwipePhoto',
    components: { Vue2InteractDraggable },
    data() {
      return {
        isVisible: true,
        dialog: false,
        index: 0,
        currentRoute: this.$route.path,
        interactEventBusEvents: {
          draggedLeft: EVENTS.SKIP,
          draggedRight: EVENTS.LIKE,
        },
        cards: [],
        errors:[]
      }
    },
      mounted(){
          axios.get('http://califourchon.wtf/posts/timeline/LxtA4YQ9G4BAUuz7gQlB')
              .then(responses => {
                  // JSON responses are automatically parsed.
                  for (var i=0; i<responses.data.posts.length;i++) {
                      this.cards.push(responses.data.posts[i])
                  }
              })
              .catch(e => {
                  this.errors.push(e)
              })
      },
    computed: {
      current() {
          return this.cards[this.index]
      },
      next() {
        return this.cards[this.index + 1]
      }
    },
    methods: {
      like() {
        InteractEventBus.$emit(EVENTS.LIKE)
      },
      skip() {
        InteractEventBus.$emit(EVENTS.SKIP)
      },
      emitAndNext(event) {
        if(event === "like"){
            let currentObj = this;
            fetch('http://califourchon.wtf/votes/addLike', {
                method : 'POST',
                headers: { "Content-Type" : "application/json" },
                body : JSON.stringify({
                    "idPost": this.cards[this.index].postId,
                    "idUser": 'LxtA4YQ9G4BAUuz7gQlB',
                    "liked": true
                })
            }).then((response) => {
                currentObj.output = response.data;
            })
                .catch(function (error) {
                    currentObj.output = error;
                });
        }
        if(event === "skip"){
            let currentObj = this;
            fetch('http://califourchon.wtf/votes/addLike', {
                method : 'POST',
                headers: { "Content-Type" : "application/json" },
                body : JSON.stringify({
                    "idPost": this.cards[this.index].postId,
                    "idUser": 'LxtA4YQ9G4BAUuz7gQlB',
                    "liked": false
                })
            }).then((response) => {
                currentObj.output = response.data;
            })
                .catch(function (error) {
                    currentObj.output = error;
                });
        }
        this.$emit(event, this.index)
        setTimeout(() => this.isVisible = false, 200)
        setTimeout(() => {
          this.index++
          if( this.index >= this.cards.length-1 ){
              axios.get('http://califourchon.wtf/posts/timeline/LxtA4YQ9G4BAUuz7gQlB')
                  .then(responses => {
                      window.console.log(responses)
                      // JSON responses are automatically parsed.
                      for (var i=0; i<responses.data.posts.length;i++) {
                          this.cards.push(responses.data.posts[i])
                      }
                  })
                  .catch(e => {
                      this.errors.push(e)
                  })
          }
          this.isVisible = true
        }, 200)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .position{
        position: absolute;
        left: 35%;
        top: 40%;
        transform: translate(-50.4%,-50%);
    }
  .footer {
      position: absolute;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
      left: 35%;
      bottom: 0px;
      transform: translate(-50%,-50%);
  }
  .btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: linear-gradient(180deg, #2F3659 0%, #1B1E2D 100%);
    border: 1px solid #5D6DAB;
    box-sizing: border-box;
    cursor: pointer;
      Outline: none;
    transition: all .3s ease;
    box-shadow: 0px 2.82845px 4.70434px rgba(2, 3, 40, 0.33), 0px 8.88396px 11.3052px rgba(2, 3, 40, 0.237222), 0px 18.8041px 21.2866px rgba(2, 3, 40, 0.196715), 0px 33.7149px 37.9717px rgba(2, 3, 40, 0.165), 0px 56.0311px 71.0219px rgba(2, 3, 40, 0.133285), 0px 94px 170px rgba(2, 3, 40, 0.092778);
  }
  .v-card{
      background: linear-gradient(180deg, #242B4A 0%, #0F1423 100%);
  }
  .v-toolbar{
      background: none;
      box-shadow: none;
  }
  .vote{
    text-align: center;
    vertical-align: middle;
  }

  .rounded-borders {
    border-radius: 20px;
  }
  .card {
      position: relative;
    img {
        max-width: 100%;
        height: auto;
    }
  }
  .desc{
      max-width: 100%;
      height: auto;
  }
  .transition {
    animation: appear 200ms ease-in;
  }
    @media screen and (min-width: 800px) and (max-width: 959px) {
        .position {
            left: 50%;
        }
        .footer{
            left: 50%;
        }
        .sizeImg {
            max-width: 40%;
            top:38%;
            height: auto;
        }
    }
    @media screen and (min-width: 600px) and (max-width: 799px) {
        .sizeImg {
            max-width: 50%;
            top:40%;
            height: auto;
        }
        .position {
            left: 50%;
        }
        .footer{
            left: 50%;
            bottom: 15px;
        }
    }
    @media screen and (min-width: 960px) and (max-width: 1199px) {
        .sizeImg {
            max-width: 50%;
            top:40%;
            height: auto;
        }
    }
    @media screen and (min-width: 1200px) and (max-width: 1900px) {
        .sizeImg {
            max-width: 40%;
            top:40%;
            height: auto;
        }
    }
    @media screen and (max-width: 600px) {
        .sizeImg {
            width: 85%;
            left: 50%;
            top:40%;
            height: auto;
        }
        .btn{
            width: 60px;
            height: 60px;
        }
        .footer{
            left: 50%;
            margin-bottom: 10px;
        }
    }
</style>
