<template>
  <v-app>
    <v-content>
      <v-row no-gutters id="row">
        <img src="../src/assets/logo.png" class="logo"/>
      </v-row>
    <v-container fill-height fluid style="height: 90%;padding-top: 0px">
    <v-row no-gutters align="center" justify="center" style="height: 100%">
      <v-col class="d-sm-none d-md-flex" md="4" xl="3" cols="0">
        <NavbarDesktop/>
      </v-col>
      <v-col sm="12" md="8" xl="9" cols="12" style="height: 100%">
        <router-view style="height: 100%"/>
      </v-col>
    </v-row>
    </v-container>
    </v-content>
    <v-footer class="d-flex d-sm-flex d-md-none">
      <NavbarPhone/>
    </v-footer>
  </v-app>
</template>

<style>
  #app{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #242B4A 0%, #0F1423 100%);
    }
  .logo{
    margin-top: 30px;
    margin-left: 30px;
    height: 100px;
    width: 100px;
  }
  #row{
    height: 75px;
  }
  @media screen and (max-width: 600px) {
    #row{
      height: 55px;
    }
    .logo{
      width: 65px;
      height: 65px;
      margin: 15px auto 0px auto;
    }
  }
</style>

<script>

import NavbarDesktop from "./components/NavbarDesktop";
import NavbarPhone from "./components/NavbarPhone";

export default {
  name: 'App',

  components: {
    NavbarDesktop,
    NavbarPhone,
  },

  data: () => ({
  }),
};
</script>
